/*html,
body {
  margin: 0;
  font-family: 'Google Sans', 'Avenir';
}

#app {
  height: 200px;
  width: 100%;
  background-color: #00d1ef;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10vh 0;
  margin-bottom: 20px;
}
#app .container {
  width: 300px;
  height: auto;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
}
#app input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: white;
  border: 2px solid black;
  border-radius: 4px;
  color: #fff;
  font-family: 'Google Sans';
}
#app input[type='text']:focus {
  outline: none;
  border: 2px solid #fff;
}
#app input[type='text']::placeholder {
  color: #e9e9e9;
  font-style: italic;
}

.calendar {
  width: 100%;
  position: relative;
}
.calendar .calendar-layout {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: appear 0.3s ease forwards;
}
.calendar .calendar-layout .calendar-header {
  width: 100%;
  background-color: #00d1ef;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding: 0 4px;
}
.calendar .calendar-layout .calendar-header .row {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calendar .calendar-layout .calendar-header .row .calendar-title {
  font-size: 16px;
}
.calendar .calendar-layout .calendar-header .row i {
  font-size: 16px;
  cursor: pointer;
}
.calendar .calendar-layout .calendar-header .calendar-days {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}
.calendar .calendar-layout .calendar-header .calendar-days .day {
  max-width: calc(100% / 7);
  padding: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.calendar .calendar-layout .calendar-body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
}
.calendar .calendar-layout .calendar-body .calendar-row {
  display: flex;
  flex-direction: row;
  transition: all 0.15s ease;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day {
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f9f9f9;
  font-size: 14px;
  color: #606060;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day.disabled {
  background-color: #f3f3f3 !important;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day.selected {
  color: #ff4364;
}
.calendar
  .calendar-layout
  .calendar-body
  .calendar-row
  .calendar-day.selected:after {
  width: 100%;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day:after {
  content: '';
  height: 3px;
  width: 0px;
  background: #ff4364;
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day:hover {
  color: #ff4364;
}
.calendar
  .calendar-layout
  .calendar-body
  .calendar-row
  .calendar-day:hover:after {
  width: 100%;
}
.calendar .calendar-layout .calendar-body .calendar-row.swipe-left {
  opacity: 0;
  transform: translateX(10px);
}
.calendar .calendar-layout .calendar-body .calendar-row.swipe-right {
  opacity: 0;
  transform: translateX(-10px);
}

@keyframes appear {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(5px);
    opacity: 1;
  }
}
*/

/* php calendar */
.calendar {
  display: flex;
  flex-flow: column;
}
.calendar .header .month-year {
  font-size: 20px;
  font-weight: bold;
  color: #636e73;
  padding: 20px 0;
}
.calendar .days {
  display: flex;
  flex-flow: wrap;
}
.calendar .days .day_name {
  width: calc(100% / 7);
  border-right: 1px solid #2c7aca;
  padding: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #818589;
  color: #fff;
  background-color: #448cd6;
}
.calendar .days .day_name:nth-child(7) {
  border: none;
}
.calendar .days .day_num {
  display: flex;
  flex-flow: column;
  width: calc(100% / 7);
  border-right: 1px solid #e6e9ea;
  border-bottom: 1px solid #e6e9ea;
  padding: 15px;
  font-weight: bold;
  color: #7c878d;
  cursor: pointer;
  min-height: 100px;
}
.calendar .days .day_num span {
  display: inline-flex;
  width: 30px;
  font-size: 14px;
}
.calendar .days .day_num .event {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #f7c30d;
  color: #fff;
  word-wrap: break-word;
}
.calendar .days .day_num .event.green {
  background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
  background-color: #518fce;
}
.calendar .days .day_num .event.red {
  background-color: #ce5151;
}
.calendar .days .day_num:nth-child(7n + 1) {
  border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover {
  background-color: #fdfdfd;
}
.calendar .days .day_num.ignore {
  background-color: #fdfdfd;
  color: #ced2d4;
  cursor: inherit;
}
.calendar .days .day_num.selected {
  background-color: #f1f2f3;
  cursor: inherit;
}
